@import "../index.css";

/* =================== FOOTER =================== */
footer {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    height         : 180px;
    width          : 100%;
    font-family    : var(--font2);
}

.footer a {
    color: rgb(6, 158, 77);
}

.footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    height: 70%;
}

.footer-content {
    justify-self  : center;
    text-align    : center;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 30px;
}

.footer-menu {
    display    : flex;
    gap        : 16px;
    font-weight: 500;
    font-size  : 16px;
}

.footer-misc {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
}

.footer-misc .register {
    font-weight: 500;
}

.footer-misc .copyright {
    font-size: 14px;
}

.footer-contacts {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.footer-contacts .links,
.footer-contacts .other-contacts {
    display        : flex;
    justify-content: flex-end;
    gap            : 16px;
}

.footer-logo-compact {
    display: none;
}

@media screen and (max-width: 1080px) {
    .footer-logo {
        display: none;
    }

    .footer-logo-compact {
        display: block;
        width  : 250px;
    }
}

@media screen and (max-width: 920px) {
    .footer-logo-compact {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column-reverse;
        padding       : 56px 0;
        gap           : 56px;
        height        : fit-content;
    }

    .footer-contacts {
        align-items: center;
    }

    .footer-contacts .links svg {
        aspect-ratio: 1/1;
        height      : 32px;
        width       : 32px;
    }

    .footer-menu {
        display: none;
    }
}